html {font-family: 'arial'}
body{
}
.titre {
    float: left;
}
.navbar {
  text-align: right;
}
li {
    border:1px solid white;
    display:inline-block;
    text-transform: uppercase;
}
li a {
    text-decoration: none;
    color: grey;
}
.bouton1 {
  border: 3px solid #2BBF77;
    display: inline;
    height:auto;
    background:#fff;
    margin-top:-20px;
    margin-bottom:-10px;
    border-radius: 5px 5px 5px 5px;
}

.bouton3 {
  border-radius:  5px 5px 5px 5px;
  background-color: grey;
  margin-left: 650px;
  margin-right: 650px;
  color: white;
}
.bouton3 a {
  text-decoration: none;
}
.photo {
    height: 500px;
    background-image: url("photo.jpg");
    background-size: cover;
    width: 100%;
    height: 600px;
    text-align: center;
    margin-top: 50px;

}
.textphoto{
    background-color: white;
    border: 5px solid black;
    position: relative;
    top: 50px;
    left: 80px;
    width: 350px;
}
p {
    text-align: center;
}
.feature {
  border-radius:  2px 2px 2px 2px;
  background-color: grey;
  margin-left: 10px;
  margin-right: 200px;
  margin-top: 10px;
  color: white;
  text-transform: uppercase;
  float:left;
}
.days{
  float: right;
  margin-top: -35px;
  margin-right: 10px;
}
.raised {
  float: left;
  color: grey;
  text-transform: uppercase;
}
.donate {
 color: grey;
 text-transform: uppercase;
}
.donate2{
 font-size: 20px;
 color: white;
 text-transform: uppercase;
background-color: #2BBF77;
margin-left: 15px;
margin-right: 15px;
padding-bottom: 15px;
margin-top: 120px;
color: white;
border-radius: 5px 5px 5px 5px
}
.donate2 a {
  text-decoration: none;

}
.prix{
  float: left;
  padding-top: 5%;
  padding-right: 15%;
  text-align: justify;
  font-size: 17px;
  font-weight: bold;
  color: #31A275;
  margin-left: 10%;
  border-top: solid 1px;
  border-right: solid 1px;
  border-color: #CCCCCC;
  margin-top: 30px;
}
.cadre2 {
 width: 1334px;
 height: 600px;
 background-image: url(background.jpg);
 background-size: 100%;
}
.cadre3 p {
 margin-left: 5px;
 font-size: 15px;
}
.cadre3 {
 font-size: 19px;
 color: #30353D
;
 background-color: white;
 width: 270px;
 height: 400px;
 float: left;
 margin-left: 100px;
 margin-top: 100px;
 text-align: center;
}
.feature {
 background-color: #505050
;
 color: white;
 padding-left:  5px;
 padding-right: 5px;
 margin-top: 10px;
 margin-left: 10px;
 margin-right: 190px;
 font-size: 9px;
 font-weight: bold;
}
.prix2 {
 float: left;
 padding-top: 5%;
 padding-right: 15%;
 text-align: justify;
 font-size: 17px;
 font-weight: bold;
 color: #31A275;
 margin-left: 10%;
 border-top: solid 1px;
 border-right: solid 1px;
 border-color: #CCCCCC;
 margin-top: 30px;
}
.prix3 {
 margin-top: 30px;
 float: left;
 padding-top: 5%;
 padding-left: 15%;
 text-align: justify;
 font-size: 17px;
 font-weight: bold;
 color: #30353D;
 border-top: solid 1px;
 border-color: #CCCCCC;
}
.texte {
 margin-right: 20px;
 margin-left: 22px;
 margin-top: 40px;
 text-align: justify;
 font-size: 17px;
 color: #707070
;
 border-color: #CCCCCC
;
}
.days {
 margin-top: -10px;
 color: #505050
;
 padding-left:  5px;
 padding-right: 5px;
 font-size: 9px;
 font-weight: bold;
 float: right;
}
.goal {
  float: right;
}
.donation {
          float:left;
          width: 350px;
}
.volounteer {
            float: left;
            width: 350px;
}
.scholarship {
      float: right;
      width: 350px;
}
.educationbox {
  margin-top: 70px;
}
